<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>表单</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/layui2.2.3/css/layui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/uiframe/frame/static/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sysdefault.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='libs/uiframe/frame/static/image/code.png') }}">

</head>
<body class="body">
<form class="layui-form" method="post">
    <input type="hidden" name="userid" />
    <div class="layui-form-item">
        <label class="layui-form-label">用户名：</label>
        <div class="layui-input-block">
            <input type="text" name="username" lay-verify="username"
                   autocomplete="off" placeholder="请输入用户名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户邮箱：</label>
        <div class="layui-input-block">
            <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户密码：</label>
        <div class="layui-input-block">
            <input type="password" name="password" lay-verify="pass"
                   placeholder="请输入6到12位密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">再次输入密码：</label>
        <div class="layui-input-block">
            <input type="password" name="repeatedpass" lay-verify="repeatedpass"
                   placeholder="请再次输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="submit">确定</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="{{ url_for('static', filename='libs/layui2.2.3/layui.js') }}"></script>
<script type="text/javascript">
    layui.use('form', function(){
        // 操作对象
        var form = layui.form,$ = layui.jquery;

        //自定义验证规则
        form.verify({
            username: function(value){
                if(value.length < 5){
                    return '用户名至少5个字符';
                }
            },
            pass: [/(.+){6,12}$/, '密码必须6到12位']
        });

        //监听提交
        form.on('submit(submit)', function(data){
            $.ajax({
                type: 'post',
			    dataType: "json",
                url:{{ request.script_root|tojson|safe }} + '/sys/data/useradd',
                dataType:"json",
			    contentType:'application/json;charset=utf-8',
                data:JSON.stringify(data.field),
                success:function(data){
                    if(data != null && data.hasOwnProperty('status')
                        && data['status'] == 'success'){
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index);
                        parent.userListLoad();
                    }
                },
                error: function (error){
                    console.log(error);
                }
            });
            return false;
        });

        // you code ...

    });
</script>
</body>
</html>